<div id="header-wrapper">

  <%= image_tag("dudes.png", :class => "main")  %>
  <aside class="aside aside-1"></aside>
  <aside class="aside aside-2"></aside>

</div>

<div class="ui midle aligned stackable grid container ">

  <div class="row">

    <div class="sixteen wide column">

          <p class="ui header center aligned" style="font-family: Montserrat; font-size: 3em">Народный променад</p>
          <p class="ui header center aligned" style="font-family: Montserrat; font-size: 1.5em; font-style: italic;">"Расти, моя корявая сосенка! Да не бывать тебе корабельною мачтой..." <br> © Невидимая Книга, 1976</p>
          <p class="ui horizontal divider" style="font-family: Montserrat; margin-top: 2em;">2 сентября, с 12:00. Улица Рубинштейна</p>

    </div>

  </div>

  <div class="row">

    <div class="eight wide column ">

      <h3 class="ui header" style="font-family: Montserrat">Народный променад "Рубинштейна и окрестности"</h3>
        <p style="font-family: Raleway">Разовое некоммерческое мероприятие к 77-летию Довлатова, скромная инициатива простых людей. Грянет залп с Нарышкина бастиона, и увидимся.До встречи на багряной прогулке!</p>
        <h3 class="ui header" style="font-family: Montserrat">Для местных жителей: </h3>
        <p style="font-family: Raleway">Вознамерившись исключить беспокойное присутствие и неудобь, сократили численность площадок (ограничимся лишь некоторыми).
        Проведение уличных событий программы согласовано с Администрацией Центрального района Санкт-Петербурга (заяв. № 01-14-3457.18-0-1, выд. 21.08.2018).</p>
    </div>

    <div class="eight wide column ">
      <!-- <img src="sign.png" class="ui large rounded image" style="margin: 0 auto"> -->
      <%= image_tag("sign.png", class:"ui large rounded image", style: "margin: 0 auto") %>
    </div>

  </div>

  <div class="row">

    <div class="sixteen wide column">
      <p class="ui header center aligned" style="font-family: Montserrat; font-size: 1.5em">Всем огромное спасибо!</p>
    </div>
  </div>

</div>


  <div class="ui two column centered stackable grid container ">

    <div class=" row">

      <div class="column right aligned">

        <a class="ui vk massive button" href="https://vk.com/pol_den_dovlatova">Vkontakte</a>

      </div>

      <div class="column left aligned">

        <div class="ui left labeled icon massive button">
        <i class="telegram icon"></i>
        Telegram
    </div>

      </div>
    </div>
  </div>


<div class="ui vertical stripe quote" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3 style="font-family: Montserrat">Услышимся, дорогие товарищи!</h3>
          <p style="font-family: Raleway">И что не маловероятно, увидимся</p>
        </div>
        <div class="column">
          <h3 style="font-family: Montserrat">Я должен был придумать афоризм получше</h3>
          <p style="font-family: Raleway">
            <i class="music icon"></i> <b style="font-family: Raleway">Мужик</b> который играл с нами в том баре
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container center aligned" style="margin: 2em;">
    <p class="ui header" style="font-family: Montserrat">Заявленные участники</p>
  </div>

<div class="ui relaxed divided items container segment">
  <div class="item">
    <div class="ui small image">
      <!-- <img src="lenDiks.jpg"> -->
      <%= image_tag("lenDiks.jpg") %>
    </div>
    <div class="content">
      <a class="header">Ленинградский диксиленд</a>
      <div class="meta">
        <a>02.09</a>
        <a>14:00 | Сквер им. Сергея Довлатова (Загородный пр., 15-17)</a>
      </div>
      <div class="description">
        Ленинградский диксиленд" был создан трубачом Всеволодом Королевым и кларнетистом Александром Усыскиным. Биография "Ленинградского Диксиленда" неразрывно связана с такими колоритными музыкантами, как братья Валентин и Александр Колпашниковы, Эдуард Левин, Роберт Паузер, Борис Локшин, Юрий Акулов, Владимир Грибов, Владимир Яковлев, Георгий Чиков, Александр Скрыпник, Валерий Заварин, Михаил Чекавый, Александр Кавлелашвили, Юрий Руденко, Владимир Воронин и, наконец, Юрий Мирошниченко, чей бас и сузафон еще витает над ансамблем. Кредо "Ленинградского диксиленда" - сочетание безупречного следования традиции с естественностью игры. Начиная с 60-х годов ансамбль с огромным успехом выступал на международных фестивалях. Ему рукоплескали в городах Европы и Америки, его знают и любят поклонники у нас, в России. В репертуаре "Ленинградского диксиленда" танцевальная музыка 20-х - 50-х г.г. ..
      </div>

    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <!-- <img src="assets/images/wireframe/image.png"> -->
      <%= image_tag("zavor.jpg") %>
    </div>
    <div class="content">
      <a class="header">Анна Заворина и Valery Petrov Ensemble</a>
      <div class="meta">
        <a>02.09</a>
        <a>17:00 | Сквер им. Сергея Довлатова (Загородный пр., 15-17)</a>
      </div>
      <div class="description">
        <b>Анна Заворина</b> (вокал, контрабас - указываем в алфавитной степени, т.к. не знаем, что из отмеченных талантов преобладает в юном организме). Лауреатка главного отечественного джазового турнира 2017 г. за оригинальность и мастерство. Победительница международного фестиваля Lady in Jazz. 1/3 удивительного женского ансамбля Amelie Acoustic, руководительница собственных коллективов. Диапазон безукоризненного стилического совершенства музыкантки-композиторки широк - от редчайших жемчужин раннего традиционного джаза до шедевров теперешней популярной песни. 
        <br>
        <b>Valery Petrov Ensemble</b> - начинающий любительский ансамбль под управлением простого петербургского пенсионера Валерия Георгиевича Петрова (можно угадать из названия)

      </div>
<!--       <div class="extra">
        <div class="ui right floated primary button">
          Primary
          <i class="right chevron icon"></i>
        </div>
        <div class="ui label">Limited</div>
      </div> -->
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="assets/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Content Header</a>
      <div class="meta">
        <a>Date</a>
        <a>Category</a>
      </div>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Primary
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
