// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  align-items: flex-end;
  min-height:500px;
  background-repeat: repeat-x;
  background-image: image-url('fon_new.jpg');;
  overflow: hidden;
}

#footer-wrapper{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  align-items: flex-end;
  min-height:500px;
  background-repeat: repeat-x;
  background-image: image-url('fon_futer.jpg');;
  overflow: hidden;
}

.main-header-image {
  height: unset;
  width: unset;
  max-width: unset;
}

.main-footer-image {
  height: unset;
  width: unset;
  max-width: unset;
}

.aside-header-1 {
  flex: 1 auto;
  background: white;
  height: 149px;
  border-top: 1px solid black;
}

.aside-header-2 {
  flex: 1 auto;
  background: white;
  height: 149px;
  border-top: 1px solid black;
}

.aside-footer-1 {
  flex: 1 auto;
  background: white;
  height: 149px;
  border-top: 1px solid black;
}

.aside-footer-2 {
  flex: 1 auto;
  background: white;
  height: 149px;
  border-top: 1px solid black;
}

@media all and (min-width: 600px) {
  .aside-header-1 { order: 1; }
  .aside-footer-1 { order: 1; }
  .main-header-image    { order: 2; }
  .main-footer-image    { order: 2; }
  .aside-header-2 { order: 3; }
  .aside-footer-2 { order: 3; }
}

@media all and (max-width: 1620px){
  [class*="aside-"] {
        display:  none;
  }
}
